.game-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.phaser-container {
  width: 100%;
  height: 100%;
}

.phaser-container canvas {
  display: block;
}

.joystick-zone {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 200px;
  height: 200px;
  z-index: 100;
  pointer-events: auto;
}

/* Hide joystick on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .joystick-zone {
    display: none;
  }
}
